<%- include('partials/header') -%>
<section id="profile">
    <div class="bg-body-tertiary rounded-3 profileBody">
      <div class="container-fluid">
        <img class="profileImage" 
        <% if(!user.photo) {%>
            src="https://icon-library.com/images/no-profile-picture-icon/no-profile-picture-icon-1.jpg"
        <%}else{%>
            src="<%= user.photo %>"
        <%} %>alt="profile image">
        <h1 class="display-5 fw-bold"><%= user.first_name + " "+ user.last_name %></h1>
      </div>
      <div class="profileDetails">
        <p>Email : <%= user.email %></p>
        <p>First Name : <%= user.first_name %></p>
        <p>Last Name : <%= user.last_name %></p>
      </div>
      <div class="userPnr">
        <p class="userPnrhead"> <b>PNR : </b> </p>
        <% user.userPNR.forEach((pnr) => { %>
          <p class="pnr-item"><%= pnr %></p>
        <%})%>
      </div>
    </div>
</section>
<%- include('partials/footer') -%>